/*---------- CUSTOM PROPERTIES ----------*/
:root {
  --first-color: #3F1672;
  /* --first-alpha-color: rgb(10, 38, 71, 0.75); */
  --second-color: #9965DB;
  /* --second-alpha-color: rgba(143, 121, 47, 0.75); */
  --third-color: #E7DBF8;

  --white-color: #F4EEF2;
  --white-alpha-color: rgba(255, 255, 255, 0.3);
  --white-alpha-color-plus: rgba(255, 255, 255, 0.7);

  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);


  --font: 'Poppins', sans-serif;

  --max-width: 90vw;

  --navbar-height: 5rem;
}

/*---------- RESET -----------*/

::selection {
  background: var(--first-color);
  color: var(--white-color);
}

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

::before,
::after {
  --tw-content: '';
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  line-height: inherit;
  background-color: var(--third-color);
}


h1 {
  margin: 0;
  font-size: 4.25rem;
  font-weight: 900;
  line-height: .9;
}

h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  margin: 0;
  font-size: 1.5rem;
  line-height: .8;
}

h5 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
}

h6 {
  font-size: .9rem;
  margin: 0;
  font-size: 0.7rem;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: 700;
  transition: all .1s linear;
}


/* ::-webkit-scrollbar {
	display: none;
} */

/*----------- ABSOLUTES ----------*/

.mr {
  border: 5px solid red;
}

.layout {
  width: var(--max-width);
  margin: 0 auto;
}

.disabled {
  display: none;
}

.btn {
  border-radius: .5rem;
  padding: .4rem 1.5rem;
  display: inline-block;
  min-width: 13rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn-1 {
  background-color: var(--first-color);
}

.btn-2 {
  background-color: var(--second-color);
}

.btn-1:hover {
  background-color: var(--second-color);
}

.btn-2:hover {
  background-color: var(--first-color);
}

.txtw {
  color: var(--white-color);
}

.txtb {
  color: var(--first-color);
}

.txtg {
  color: var(--second-color);
}

.br {
  border-radius: .4rem;
}

.fzs {
  font-size: 12px;
}
.fzm {
  font-size: 20px;
}
.fzl {
  font-size: 32px;
}

.txtgrd {
  background: linear-gradient(to right, var(--third-color), var(--fifth-color), var(--fifth-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.zind {
  z-index: 10;
}

.justify {
  text-align: justify;
}

/*----- Pie de pagina -----*/

.footer {
  width: 100%;
  background-color: var(--second-color);
}

.footer__layout {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.footer__logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer__img {
  width: 100%;
  max-width: 300px;
}

.footer__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 4rem;
  gap: .5rem;
  background-color: var(--first-color);
  text-align: center;
}

@media (min-width: 844px) {
  .footer__copyright {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .footer__layout {
    flex-direction: row;
  }
}